.tour-location{
    background-image: url("../../images/09.jpg");
    background-color: #cccccc;
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
.locations{
    /* color: deepskyblue; */
    /* background-color: rgba(0, 191, 255, 0.850); */
    background-image: linear-gradient( to bottom, rgba(128, 128, 128, 0.459), rgba(255, 255, 0, 0.534)), url("../../images/4873.jpg");
    opacity: 0.9;
    background-color: #cccccc;
    height: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.place{
    text-align: right;
    border-right: 2px solid rgba(5, 57, 75, 0.85);
}