/* .Navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  } */

#menu{
    color:deepskyblue;
    text-decoration: none;
}
#navbarScrollingDropdown{
    text-decoration: none;
    color:deepskyblue;
}